<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="com.app.listeners.TestListeners" />
		<listener class-name="com.app.listeners.ReporterListener"/>
		<listener class-name="com.app.listeners.RetryListener"></listener>
	</listeners>

	<test name="Test">
		<classes>
			<class name="com.appium.android.AndroidTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
